<a href="https://colab.research.google.com/github/AlyonaSarapina/python-and-cyber/blob/main/Copy_%22PythonExercise3_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a Python program to sum all the items in a list.

In [ ]:
def sumItems(list):
  sum = 0

  for item in list:
    sum += item

  return sum

list = [1, 2, 3, 4, 5, 6, 7]
sumItems(list)

28

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [ ]:
def countFirstLast(strings):
    count = 0
    for string in strings:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
    return count

my_strings = ['level', 'python', 'radar', 'hello', 'madam']
countFirstLast(my_strings)

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [ ]:
def bubbleSort(tuples_list):
  for i in range(len(tuples_list)):
    for j in range(0, len(tuples_list ) - i - 1):
      if tuples_list[j][-1] > tuples_list[j + 1][-1]:
        temp = tuples_list[j]
        tuples_list[j] = tuples_list[j+1]
        tuples_list[j+1] = temp

  print(tuples_list)

tuples_list = [(1, 5), (3, 2), (8, 10), (6, 4)]

bubbleSort(tuples_list)

[(3, 2), (6, 4), (1, 5), (8, 10)]

2A. Write a Python program to remove duplicates from a list.

In [2]:
def remove_dublicates(list):
  result = []

  for item in list:
    if item not in result:
      result.append(item)

  return result

remove_dublicates([1, 2, 3, 2, 4, 3, 5, 1])

[1, 2, 3, 4, 5]

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [3]:
def compare_lists(list1, list2):
  for item in list1:
      if item in list2:
          return True
  return False

my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 6, 7, 8, 9]
compare_lists(my_list1, my_list2)

True

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [4]:
def odd_list(list):
  result = []

  for item in list:
    if item % 2 != 0:
      result.append(item)

  return result

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list(my_list)

[1, 3, 5, 7, 9]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [5]:
def generate_list():
  result = []
  for item in range(1, 31):
    result.append(item ** 2)

  return result

def get_values():
  list = generate_list()
  result = []
  count = 1
  length = len(list)

  for item in list:
    if list.index(item) < 5 or list.index(item) >= length - 5:
      result.append(item)

  return result

get_values()

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

3B. Write a Python program to get the difference between the two lists.

In [ ]:
def get_different_values(list1, list2):
  result = []

  for item in list1:
    if item not in list2:
      result.append(item)

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
get_different_values(list1, list2)

3C. Write a Python program to convert a list of characters into a string.

In [6]:
def convert_char(list):
  str = ''

  for item in list:
    str += item

  return str

characters = ['H', 'e', 'l', 'l', 'o']
convert_char(characters)

'Hello'

4A. Write a Python program to select an item randomly from a list.

In [7]:
import random

def random_selector(list):
  random_number = random.randint(0, len(list) - 1)

  return list[random_number]

my_list = [1, 2, 3, 4, 5]
random_selector(my_list)

1

4B.Write a Python program to find the second largest number in a list.

In [9]:
def find_max(list):
  first_max = 0
  second_max = 0

  for item in list:
    if item > first_max:
      first_max = item
    if item > second_max and item != first_max:
      second_max = item

  return second_max

my_list = [10, 5, 20, 15, 8]
find_max(my_list)

15

5A. Write a Python program to count the number of elements in a list within a specified range.

In [11]:
def counter(list, min, max):
  count = 0

  for item in list:
    if item < max and item > min:
      count += 1

  return count

my_list = [1, 5, 10, 15, 20, 25, 30]
min_value = 10
max_value = 25
counter(my_list, min_value, max_value)

2

5B. Write a Python program to split a list into different variables.

In [12]:
def split_list(list):
  var1 = list[0]
  var2 = list[1]
  other = []

  for num in range(2, len(list)):
    other.append(list[num])

  return var1, var2, other

my_list = [1, 2, 3, 4, 5]
split_list(my_list)

(1, 2, [3, 4, 5])

6A. Merge the following dictionaries into one

In [13]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merged_dict = dict(dict1)
merged_dict.update(dict2)

print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [15]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}


keysToRemove = ["name", "salary"]

for key in keysToRemove:
    sampleDict.pop(key, None)

print(sampleDict)

{'age': 25, 'city': 'New york'}