<a href="https://colab.research.google.com/github/AlyonaSarapina/python-and-cyber/blob/main/Copy_%22PythonExercise1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a program to add the two numbers 9 and 13.

In [1]:
def add_numbers(num1, num2):
  return num1 + num2

print(add_numbers(9, 13))

22

1B. Write a python program to multiply the two numbers 4 and 5.

In [2]:
def multiply_numbers(num1, num2):
  return num1 * num2

print(multiply_numbers(4, 5))

20

1C. Write a program that calculates the annual salary of an employee after it increases by 10%. (Initial annual salary Â£42,000)

In [4]:
def salary_calculator(initial_amount):
  return int(initial_amount * 1.1)

print(salary_calculator(42000))

46200

2A. Write a python program that finds the volume of a cuboid with length 2m, width 3m and height 5m.

In [6]:
def volume_calculator(length, width, height):
  return int(height * width * length)

print(volume_calculator(2, 3, 5))

30

2B. Write a program that finds the area of a circle that has a radius of 4m. (You can take pi as being 3.14)

In [8]:
def area_calculator(radius):
  pi = 3.14
  return round(radius ** 2 * pi, 2)

print(area_calculator(4))

50.24

2C. Write a program that finds the volume of a cone of radius 2m and height 5m. (You can take pi as being 3.14)

In [9]:
def cone_volume(radius, height):
  pi = 3.14
  return round(radius ** 2 * pi * (height / 3), 2)

print(cone_volume(2, 5))

20.93

2D. Write a python program that uses a loop to find the factorial of 5.

In [17]:
def factorial_calculator(number):
  factorial = 1

  if (number == 0):
    return 1
  for i in range(1, number + 1):
    factorial *= i
  return factorial

print(factorial_calculator(5))

120